/* Portrait and Landscape */
/* @media screen (max-width: 600px) {
  h1, h2, p {
    color: red;
  }

} */
/* FONTS */
h2 {
  color: navy;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 48px;
}

blockquote {
  color: navy;
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  font-style: italic;
}

p {
  font-size: 30px;
}

/* Font Colour-change */
h1 {
  -webkit-animation: colorchange 10s infinite alternate;
  font-weight: bold;
}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }

  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: green;
  }
}

.label {
  background-color: red;
  display: inline-block;
  -webkit-animation-name: colorchangesquare;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: colorchangesquare;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes colorchangesquare {
  from {
    background-color: red;
  }

  to {
    background-color: yellow;
  }
}

/* Standard syntax */
@keyframes colorchangesquare {
  from {
    background-color: red;
  }

  to {
    background-color: yellow;
  }
}

body {
  font-weight: bold;
  color: navy;
  font-family: 'Poiret One', cursive;
  background: url("../images/backgrd.jpg") no-repeat center fixed;
}

/* End snow */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  background-color: red;
  overflow: hidden;
  z-index: 100;
  text-align: center;
  /* This allows the navbar to float on TOP */
}
/* margin for the item description */
#desc {
  margin-top: 10rem;
}
/* Formatting of the main section  */
main {
  margin-top: 100px;
  z-index: 10;
}

main img {
  float: left;
  max-width: 100%;
  width: 65%;
  height: 20rem;
  margin-left: 1rem;
}

main img:hover {
  opacity: 0.5;
}

/* Footer */
footer {
  background-color: navy;
  color: white;
  text-align: center;
}

/* --------------------------Snow effect----------------------------------- */
.snow {
  background-color: transparent;
  background-image: url(http://wp.agens.no/smakebit/wp-content/themes/smakebiten/img/snow1.png), url(http://wp.agens.no/smakebit/wp-content/themes/smakebiten/img/snow2.png);
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
  z-index: 999;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 0;
  position: absolute;
  text-align: center;
  background-color: red;
}

/*Keyframes*/
@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px
  }
}

@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px
  }
}
